@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  @apply mt-2 text-sm text-red-600;
}
input[type="password"] {
  @apply tracking-widest;
}

.black-btn {
  @apply flex w-full justify-center rounded-md bg-black px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-black hover:border hover:border-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
.white-btn {
  @apply flex w-full justify-center rounded-md bg-white border border-black text-black px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-black hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

/* start part of adding bouncing loader */
.bouncing-loader {
  @apply flex justify-center items-center;
}
.bouncing-loader > div {
  @apply w-[1rem] h-[1rem] mt-[3px] mr-[6px] rounded-[50%] bg-blue-500 opacity-100 animate-bounceLoading
  /* animation: bouncing-loader 0.6s infinite alternate; */;
}
.bouncing-loader > div:nth-child(2) {
  /* npm install tailwindcss-animation-delay / plugin to add css animation-delay attirbute for tailwindcss */
  /* require("tailwindcss-animation-delay"), / Then add the plugin to your tailwind.config.js file*/
  @apply animation-delay-75;
}
.bouncing-loader > div:nth-child(3) {
  @apply animation-delay-200;
}
/* end part of adding bouncing loader */
