@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  @apply mt-2 text-sm text-red-600;
}
input[type="password"] {
  @apply tracking-widest;
}

.black-btn {
  @apply flex w-full justify-center rounded-md bg-black px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-black hover:border hover:border-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
.white-btn {
  @apply flex w-full justify-center rounded-md bg-white border border-black text-black px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm hover:bg-black hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
